.game-row {
  height: 22px;
}
.live {
  border: 1px solid black;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: #61dafb;
}
.dead {
  border: 1px solid black;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: antiquewhite;
}
